body {
    font-family: Arial, sans-serif;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0.15) 0%, rgba(0, 0, 0, 0.15) 100%), radial-gradient(at top center, rgba(255, 255, 255, 0.40) 0%, rgba(0, 0, 0, 0.40) 120%) #989898;
    background-blend-mode: multiply, multiply;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-image: linear-gradient(to top, #cfd9df 0%, #e2ebf0 100%);
    padding: 10px 20px;
    box-sizing: border-box;
    color: #989898;
}

.navbar-brand {
    color: #000000;
    font-size: 24px;
    text-decoration: none;
}

.navbar-nav {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.navbar-nav li {
    display: inline-block;
    margin-left: 20px;
}

.navbar-nav li a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
}

.navbar-nav li a:hover {
    text-decoration: underline;
}

.wrapper {
    background-image: linear-gradient(to top, #cfd9df 0%, #e2ebf0 100%);
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 30px;
    width: 360px;
}

.wrapper p {
    text-align: center;
}

.wrapper h2 {
    margin-top: 0;
    margin-bottom: 20px;
    text-align: center;
}

.form-group {
    margin-bottom: 20px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.form-group input[type="text"],
.form-group input[type="password"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

.form-group input[type="submit"] {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #7b967b;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s;
}

.form-group input[type="submit"]:hover {
    background-color: #45a049;
}

.form-group .help-block {
    color: #f00;
}

.signup {
    text-align: center;
    margin-top: 20px;
}

.signup a {
    color: #4caf50;
    text-decoration: none;
}

.signup a:hover {
    text-decoration: underline;
}